video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

h1 {
  position: absolute;
  color: white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}
